<div class="border-bottom-1 border-100 px-5 py-3 flex align-items-center justify-content-between"
  style="background:#002C2F;">
  <div class="flex align-items-center gap-2">
    <i class="pi pi-building text-primary text-2xl"></i>
    <span class="text-xl font-bold text-color">School<span class="text-primary">System</span></span>
  </div>

  <div class="flex gap-2">
    <button *ngIf="router.url === '/landing'" class="p-button p-component p-button-outlined p-button-sm p-button-secondary"
      routerLink="/login">
      <span class="p-button-label">Iniciar sesión</span>
    </button>
  </div>

</div>